{% extends 'layout.html.twig' %}

{% block page_title 'form.password.change.title'|trans %}

{% set active = "login" %}

{% block content %}
    <div class="row">
        <div class="col-xs-6 col-xs-push-3">
            <h2 class="text-center">{% trans %}form.password.change.title{%  endtrans %}</h2>

                {# Flash bags #}
                {% include 'components/_flashbags.html.twig' %}

                {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

                {{ form_start(form) }}
                {{ form_widget(form) }}

                <input type="hidden" value="{{ app.request.get('email') }}" name="email"/>
                <input type="hidden" value="{{ app.request.get('token') }}" name="token"/>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
{% endblock %}