{% extends 'layout.html.twig' %}

{% block page_title "Login" %}

{% set active = "login" %}

{% block content %}
    <div class="row">
        <div class="col-xs-6 col-xs-push-3">
            <h2 class="text-center">Password form</h2>

                {% if app.request.get('register')=="notfound" %}
                <div class="alert alert-danger">
                    <p class="text-center"><i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i></p>
                    <p class="text-center">An error occurred, please try again.</p>
                </div>
                {% endif %}

                {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

                {{ form_start(form) }}
                {{ form_widget(form) }}

                <input type="hidden" value="{{ app.request.get('email') }}" name="email"/>
                <input type="hidden" value="{{ app.request.get('token') }}" name="token"/>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
{% endblock %}