{% extends "layout.html.twig" %}

{############### main page vars ###############}
{% block page_title article.title | title %}

{% set active = article.category.label %}

{############### MAIN BLOCS ###############}

{% block content %}
<div class="row">
    <!--colleft-->
    <div class="col-md-8 col-sm-12">

        {# Flash bags #}
        {% include 'components/_flashbags.html.twig' %}

        <!--post-detail-->
        <article class="post-detail">
            <h1>{{ article.title }}</h1>
            <div class="meta-post">
                {{ authorLink(article.author) | raw }}
                <em></em>
                <span>{{ article.dateCreation }}</span>
            </div>

            {{ article.content | raw }}

            <h5 class="text-right font-heading"><strong>{{ article.author.lastname }} {{ article.author.firstname }}</strong> </h5>

            {% include 'components/_btn_approval.html.twig' %}

        </article>
        <!--social-detail-->
        <div class="social-detail">
            <span>{% trans %}article.share{% endtrans %}</span>
            <ul class="list-social-icon">
                {% include 'components/_socialMedia.html.twig' %}
            </ul>
        </div>
        <!--related post-->
        <div class="detail-caption">
            <span>{% trans %}article.related{% endtrans %}</span>
        </div>
        <section class="spotlight-thumbs spotlight-thumbs-related">
            <div class="row">
                {% for article in suggestions %}
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="spotlight-item-thumb">
                        <div class="spotlight-item-thumb-img">
                            {{ articleImage(article) | raw }}
                            {{ categoryLink(article.category,"cate-tag") | raw  }}
                        </div>
                        <h3>{{ articleLink(article,47) | raw }}</h3>
                        <div class="meta-post">
                            {{ authorLink(article.author) | raw }}
                            <em></em>
                            <span>{{ article.dateCreation }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>

    {# Side bar #}
    {#% include 'components/_sidebar_html.twig' %#}
    {#{ controller(controller, attributes, query) }#}
    {{ render(controller('App\\Controller\\SectionController::sideBar', { 'article': article })) }}

</div>
{% endblock %}
