{% extends "layout.html.twig" %}

{############### main page vars ###############}
{% block page_title article.title | title %}

{% set active = article.category.label %}

{############### MAIN BLOCS ###############}

{% block content %}
<div class="row">
    <!--colleft-->
    <div class="col-md-8 col-sm-12">
        <!--post-detail-->
        <article class="post-detail">
            <h1>{{ article.title }}</h1>
            <div class="meta-post">
                {{ article.author | authorLink | raw }}
                <em></em>
                <span>{{ article.dateCreation }}</span>
            </div>

            {{ article.content | raw }}

            <h5 class="text-right font-heading"><strong>{{ article.author.lastname }} {{ article.author.firstname }}</strong> </h5>

        </article>
        <!--social-detail-->
        <div class="social-detail">
            <span>   Share article</span>

            <ul class="list-social-icon">
                <li>
                    <a href="#" class="facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="google">
                        <i class="fa fa-google"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="youtube">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="pinterest">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="rss">
                        <i class="fa fa-rss"></i>
                    </a>
                </li>

            </ul>
        </div>

        <!--related post-->
        <div class="detail-caption">
            <span>RELATED POST</span>
        </div>
        <section class="spotlight-thumbs spotlight-thumbs-related">

            <div class="row">
                {% for article in suggestions %}
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="spotlight-item-thumb">
                        <div class="spotlight-item-thumb-img">
                            {{ article | articleImageLink | raw }}
                            {{ article.category | categoryLink("cate-tag") | raw  }}
                        </div>
                        <h3>{{ article | articleLink(47) | raw }}</h3>
                        <div class="meta-post">
                            {{ article.author | authorLink | raw }}
                            <em></em>
                            <span>{{ article.dateCreation }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>

    {# Side bar #}
    {#% include 'components/_sidebar_html.twig' %#}
    {{ render(controller('App\\Controller\\IndexController::sideBar')) }}

</div>
{% endblock %}
