{% extends "layout.html.twig" %}

{############### main page vars ###############}
{% block page_title author.firstname~' '~author.lastname %}

{% set active = 'author' %}

{############### pagination var ###############}
{% set nbArticlePerPage = 5 %}
{% set nbArticle = articles|length %}
{# //same as round(0,floor) https://twig.symfony.com/doc/2.x/filters/round.html #}
{% set nbPagination = ( nbArticle / nbArticlePerPage ) | round(0,'ceil') %}
{% if nbPagination==0 %}{% set nbPagination=1 %}{% endif %}

{############### MAIN BLOCS ###############}

{# from layout.html.twig #}
{% block content %}

    <div class="row">

        <!--colleft-->
        <div class="col-md-8 col-sm-12">

            {% if articles is  empty %}
                <div class="alert alert-danger">
                    <strong>Aucune publication pour le moment</strong>
                </div>
            {% else %}

            <div class="box-caption">
                <span>{{ author.firstname }} {{ author.lastname }}</span>
            </div>

            <!--list-news-cate-->
            <div class="list-news-cate">
                <article class="news-cate-item">
                    {% for article in articles |slice((currentPage-1) * nbArticlePerPage, nbArticlePerPage) %}
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            {{ article | articleImageLink | raw }}
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3>{{ article | articleLink(47) | raw }}</h3>
                            <div class="meta-post">
                                {{ article.author | authorLink | raw }}
                                <em></em>
                                <span>{{ article.dateCreation }}</span>
                            </div>
                            {{  article.content |  maxLen(250) | raw }}
                        </div>
                    </div>
                    {% endfor %}
                </article>
            </div>

            <div class="paging">
                {% if currentPage>1 %}{{ author | authorLink( null,"Prev", currentPage-1) | raw  }}{% endif %}
                {% for i in 0..nbPagination-1 %}
                    {% if currentPage==i+1 %}
                        {% set paginationClass='current' %}
                    {% else %}
                        {% set paginationClass='' %}
                    {% endif %}
                    {{ author | authorLink(paginationClass,i+1,i+1) | raw  }}
                {% endfor %}
                {% if currentPage<nbPagination %}{{ author | authorLink( null,"Next", currentPage+1) | raw  }}{% endif %}
            </div>

            {% endif %}

        </div>

        {# Side bar #}
        {#% include 'components/_sidebar_html.twig' %#}
        {{ render(controller('App\\Controller\\SectionController::sideBar')) }}


    </div>
{% endblock %}
