{% extends "layout.html.twig" %}

{% block page_title category %}

{% set active = category %}

{# from layout.html.twig #}
{% block content %}
    <div class="row">

        <!--colleft-->
        <div class="col-md-8 col-sm-12">

            {% if articles is  empty %}
                <div class="alert alert-danger">
                    <strong>Aucune publication pour le moment</strong>
                </div>
            {% else %}

            <div class="box-caption">
                <span>{{ category }}</span>
            </div>
            {# app.request.get(label) #}
            <!--list-news-cate-->

            <div class="list-news-cate">
                <article class="news-cate-item">
                    {% for article in articles %}
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <a href="{{ path('index_article',{
                                "category"  : category,
                                "slug"      : article.getSlugyfiedTitle,
                                "id"        : article.id
                            }) }}"></a>
                                <img alt="{{ article.title }}" src="{{ asset('images/product/'~article.featuredImage()) }}" />
                            </a>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3>{{ article | articleLink(47) | raw }}</h3>
                            <div class="meta-post">
                                {{ article.author | authorLink | raw }}
                                <em></em>
                                <span>{{ article.dateCreation }}</span>
                            </div>
                            {{  article.content |  maxLen(250) | raw }}
                        </div>
                    </div>
                    {% endfor %}
                </article>
            </div>

            <div class="paging">
                <a href="#">Prev</a>
                <a href="#" class="current">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">Next</a>
            </div>

            {% endif %}

        </div>

        {# Side bar #}
        {#% include 'components/_sidebar_html.twig' %#}
        {{ render(controller('App\\Controller\\TechNews\\IndexController::sideBar')) }}


    </div>



{% endblock %}
