{% extends "layout.html.twig" %}

{% set active='index' %}

{% block page_title 'Home' %}

{% block content %}
<div class="row">
    <!--colleft-->
    <div class="col-md-8 col-sm-12">
        <div class="box-caption">
            <span>spotlight</span>
        </div>

        <!--sportlight-->
        <section class="owl-carousel owl-spotlight">
            {% for article in spotlights %}
            <div>
                <article class="spotlight-item">
                    <div class="spotlight-img">
                        {{ article | articleImage("img-responsive") | raw }}
                        {{ article.category | categoryLink("cate-tag") | raw   }}
                    </div>
                    <div class="spotlight-item-caption">
                        <h2 class="font-heading">{{ article | articleLink | raw }}</h2>
                        <div class="meta-post">
                            {{ article.author | authorLink | raw }}
                            <em></em>
                            <span>{{ article.dateCreation }}</span>
                        </div>
                        <p>{{ article.content | raw }}</p>
                    </div>
                </article>
            </div>
            {% endfor %}
        </section>

        <!--spotlight-thumbs-->
        <section class="spotlight-thumbs">
            <div class="row">
                {% for article in spotlights %}
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="spotlight-item-thumb">
                        <div class="spotlight-item-thumb-img">
                            {{ article | articleImageLink | raw }}
                            {{ article.category | categoryLink("cate-tag") | raw   }}
                        </div>
                        <h3>{{ article | articleLink(47) | raw }}</h3>
                        <div class="meta-post">
                            {{ article.author | authorLink | raw }}
                            <em></em>
                            <span>{{ article.dateCreation }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </section>
    </div>

    {# Side bar #}
    {#% include 'components/_sidebar_html.twig' %#}
    {{ render(controller('App\\Controller\\IndexController::sideBar')) }}

    {% endblock %}
