{% extends "base.html.twig" %}

{#AUCUN CONTENU NE DOIT ETRE MIS EN DEHORS DES BLOCK QUAND IL Y A UN EXTEND !!#}

{% block css %}
    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/apple-touch-icon-114x114.png') }}">
    <!-- Online Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
    <!-- Vender -->
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/normalize.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/owl.carousel.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/newsletter.css') }}" rel="stylesheet" />
    <!-- Main CSS (SCSS Compile) -->
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
    <!-- JavaScripts -->
    <!--<script src="js/modernizr.js"></script>-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block js %}
    {#ADD TO PARENT JS BLOCK#}
    {{ parent() }}
    <!--scrip file-->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    <script>
    // Search inpu and click button
    var searchTxt = document.querySelector(".search-box INPUT");
    var searchFunction = function(e){
        if (searchTxt.value!="" && ( !e.keyCode || e.keyCode == 13 )) {
        document.location="/{{ app.request.locale }}/search/"+searchTxt.value+"/1.html";
        }
    }
    document.querySelector(".search-box BUTTON").addEventListener( "click", searchFunction );
    </script>
{% endblock %}

{% block html %}
    {# Loader #}
    <div class="loader" id="page-loader">
        <div class="loading-wrapper">
        </div>
    </div>

    {# Menu #}
    {% include 'components/_nav.html.twig' %}

    {% block content '' %}

    {# Footer #}
    {% include 'components/_footer.html.twig' %}

{% endblock %}


{# EXTRA HTML #}

{% block html_final %}
    {% if isNewsletterModal()==true %}
        {{ render(controller('App\\Controller\\NewsletterController::newsletter' )) }}
    {% endif %}
    {% if app.getRequest('newsletter')=='registered' %}
        {% include 'newsletter/modalConfirmation.html.twig' %}
    {% endif %}
 {% endblock %}

{# EXTRA JS #}

{% block js_final %}
    {% if isNewsletterModal()==true or app.getRequest('newsletter')=='registered' %}
        <script type="text/javascript">
            $(function(){ $("#newsletterModal").modal('show'); });
        </script>
    {% endif %}
{% endblock %}

{#
{% if isNewsletterModal()==true %}
    {% use  'newsletter/blocks/newsletterForm.html.twig' %}
{% elseif app.getRequest('newsletter')=='registered' %}
    {% use  'newsletter/blocks/newsletterConfirmation.html.twig' %}
{% endif %}
#}
