</div>
</div>
<!--footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4  col-sm-4 col-xs-12">
                <div class="about">
                    <a href="{{ path('index') }}" class="logo">
                        <img alt="{{ constant('App\\SiteConfig::SITENAME') }}" src="{{ asset('images/logo_footer.png') }}" />
                    </a>
                    <p>{% trans %}footer.txt{% endtrans %}</p>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-12">
                <h3>{% trans %}footer.category{% endtrans %}</h3>
                <ul class="list-category">
                    {% for category in categories %}
                        <li>{{ categoryLink(category) | raw  }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-12">
                <h3>{% trans %}footer.tagSearch{% endtrans %}</h3>
                <div class="list-tags">
                    {{ render(controller('App\\Controller\\SectionController::wordTag')) }}
                </div>
            </div>
        </div>
        <!--All right-->
        <div class="allright">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p> © {{ constant('App\\SiteConfig::SITEDATE') }} <a alt="{{ constant('App\\SiteConfig::SITENAME') }}" href="{{ path('index') }}">{{ constant('App\\SiteConfig::SITENAME') | upper }}</a>. {% trans %}footer.reserved{% endtrans %}</p>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <ul class="list-social-icon list-social-icon-footer">{% include 'components/_socialMedia.html.twig' %}</ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>