{# seulement si fichier a special file : navigation.local.ext #}
{#%  trans_default_domain 'messages' %#}
<!--menu mobile-->
<nav class="menu-res hidden-lg hidden-md ">
    <div class="menu-res-inner">
        <ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('security_logout') }}">{{ 'user.logout' | trans }}</a>
                    </li>
                    {% if is_granted('ROLE_AUTEUR') or is_granted('ROLE_ADMIN') %}
                        <li class="list-group-item">
                            <a href="{{ path('edit_article') }}">{{ 'user.article.create' | trans }}</a>
                        </li>
                    {% endif %}
                </ul>
            {% else %}
                <li class="list-group-item"><a href="{{ path('security_connexion', { 'go' :  getUri() }) }}">{{ 'user.login' | trans }}</a></li>
                <li class="list-group-item"><a href="{{ path('security_register') }}">{{ 'user.register' | trans }}</a></li>
            {% endif %}
            {% for category in categories %}
                <li>{{ categoryLink(category) | raw  }}</li>
            {% endfor %}
        </ul>
    </div>
</nav>
<div class="page">
    <div class="container">
        <!--header-->
        <header class="header">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <a href="{{ path('index') }}" class="logo">
                        <img alt="Logo" src="{{ asset('images/logo.png') }}" />
                    </a>
                </div>

                {# CAN BE TEST FOR HIGHLIGHT : { app.request.locale }#}

                <a lang ="fr" href="{{ path('change_locale', { 'locale' :  'fr' }) }}" style="border:2px solid darkblue;padding:5px;">FR</a>
                <a lang ="en" href="{{ path('change_locale', { 'locale' :  'en' }) }}" style="border:2px solid darkblue;padding:5px;">EN</a>

            </div>
        </header>
        <!--menu-->
        <nav class="menu font-heading">
            <div class="menu-icon hidden-lg hidden-md">
                <i class="fa fa-navicon"></i>
                <span>{{ 'menu.title' | trans }}</span>
            </div>

            <ul class="hidden-sm hidden-xs">
                <li {% if active == 'index' %}class="current"{% endif %}><a href="{{ path('index') }}">{{ 'index.title' | trans }}</a></li>
                {% for category in categories %}
                <li {% if active == category.label %}class="current"{% endif %}>{{ categoryLink(category) | raw  }}</li>
                {% endfor %}
            </ul>

            <div class="search-icon">
                <div class="search-icon-inner">
                    <i class="fa fa-search"></i>
                </div>
                <div class="search-box">
                    <input type="text" placeholder="{{ 'menu.search.msg' | trans }}" onkeypress="return searchFunction(event)"/>
                    <button>{{ 'menu.search.launch' | trans }}</button>
                </div>
            </div>
        </nav>