{# ANCIENNE METHOD DAPPEL % set lastFiveArticles = article_service.findLastFiveArticle() %#}

<!--colright-->
<div class="col-md-4 col-sm-12">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h3 class="text-center">
            {% trans with {'%user%': ((app.user.lastname | capitalize)~" "~(app.user.firstname | upper))}%}user.welcome{% endtrans %}
        </h3>
        <h4 class="text-center">
            {% if is_granted('ROLE_ADMIN') %}
                {% trans %}user.is.admin{% endtrans %}
            {% elseif is_granted('ROLE_AUTHOR') %}
                {% trans %}user.is.author{% endtrans %}
            {% else %}
                {% trans %}user.is.member{% endtrans %}
            {% endif %}
        </h4>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ path('security_logout') }}">{{ 'user.logout' | trans }}</a>
            </li>
            {% if is_granted('ROLE_AUTHOR') or is_granted('ROLE_ADMIN') %}
            <li class="list-group-item">
                <a href="{{ path('edit_article') }}">{% trans %}user.article.create{% endtrans %}</a>
            </li>
            <li class="list-group-item">
                <a href="{{ path('author_articles_pending') }}">{% trans %}user.article.pending{% endtrans %}</a> <span class="badge">{{ pendingArticles() }}</span>
            </li>
            <li class="list-group-item">
                <a href="{{ path('author_articles_published') }}">{% trans %}user.article.published{% endtrans %}</a><span class="badge">{{ publishedArticles() }}</span>
            </li>
            {% endif %}
       </ul>

       {# ARTICLE CONTROL #}
       {% if article is defined and article and article.source==null and ( article.author.id==app.user.id or is_granted('ROLE_ADMIN') ) %}
       <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ path('edit_article',{'id':article.id}) }}">{% trans %}user.article.edit{% endtrans %}</a>
            </li>
           {% if is_granted('ROLE_ADMIN') %}
           <li class="list-group-item">
               <a href="{{ path('delete_article',{'id':article.id}) }}">{% trans %}user.article.delete{% endtrans %}</a>
           </li>
           {% endif %}
       </ul>
       {% endif %}

    {% else %}
        <li class="list-group-item"><a href="{{ path('security_connexion', { 'go' :  getUri() }) }}">{% trans %}user.login{% endtrans %}</a></li>
        <li class="list-group-item"><a href="{{ path('security_register') }}">{% trans %}user.register{% endtrans %}</a></li>
    {% endif %}


    {#{ app.user.lastname | capitalize }} {{ app.user.firstname | upper }#}
    {#% trans %}user.welcome{% endtrans %#}


    <!--tab popular-->
    <ul role="tablist" class="tab-popular">
        <li class="active">
            <a href="{{ url('last_article') }}">{% trans %}sidebar.lastpublication{% endtrans %}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
            <ul class="list-news-popular">
                {% for article in lastFiveArticles %}
                <li>
                    {{ articleImageLink(article) | raw }}
                    <h3>{{ articleLink(article,47) | raw }}</h3>
                    <div class="meta-post">
                        {{ authorLink(article.author) | raw }}
                        <em></em>
                        <span>{{  article.dateCreation }}</span>
                    </div>
                    <p>{{ article.content  | maxLen(100) | raw  }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- subcribe box-->
    {{ render(controller('App\\Controller\\NewsletterController::sideNewsletter' )) }}

    <!-- connect us-->
    <div class="connect-us">
        <div class="widget-title">
			<span>{% trans %}sidebar.followus{% endtrans %}</span>
        </div>
        <ul class="list-social-icon">
            {% include 'components/_socialMedia.html.twig' %}
        </ul>
    </div>

    <!-- special post-->
    <div class="connect-us">
        <div class="widget-title">
			<span>{% trans %}sidebar.special{% endtrans %}</span>
        </div>
        <div class="list-special">
            {% for article in specialArticles %}
            <article class="news-two-large">
                {{ articleImageLink(article) | raw }}
                <h3>{{ articleLink(article,47) | raw }}</h3>
                <div class="meta-post">
                    {{ authorLink(article.author) | raw }}
                    <em></em>
                    <span>{{  article.dateCreation }}</span>
                </div>
                <p>{{ article.content  | maxLen(200) | raw  }}</p>
            </article>
            {% endfor %}
        </div>
    </div>
</div>