{% set lastFiveArticles = article_service.findLastFiveArticle() %}

<!--colright-->
<div class="col-md-4 col-sm-12">
    <!--tab popular-->
    <ul role="tablist" class="tab-popular">
        <li class="active">
            <a href="#tab1" role="tab" data-toggle="tab">
                DERNI&Egrave;RE PUBLICATIONS
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
            <ul class="list-news-popular">

                {% for article in lastFiveArticles %}
                <li>
                    {{ article | articleImageLink | raw }}
                    <h3>{{ article | articleLink(47) | raw }}</h3>
                    <div class="meta-post">
                        {{ article.author | authorLink | raw }}
                        <em></em>
                        <span>{{  article.dateCreation }}</span>
                    </div>
                    <p>{{ article.content  | maxLen(100) | raw  }}</p>
                </li>
                {% endfor %}

            </ul>

        </div>
    </div>

    <!-- subcribe box-->
    <div class="subcribe-box">
        <h3>NEWSLETTER</h3>
        <p>Inscrivez-vous pour recevoir nos dernières publications.</p>
        <input type="text" placeholder="Votre Email..." />
        <button class="my-btn">Je m'inscris</button>
    </div>
    <!-- connect us-->
    <div class="connect-us">
        <div class="widget-title">
			<span>
				SUIVEZ-NOUS
			</span>
        </div>
        <ul class="list-social-icon">
            {% include 'components/_socialMedia.html.twig' %}
        </ul>
    </div>

    <!-- special post-->
    <div class="connect-us">
        <div class="widget-title">
			<span>
				En Avant
			</span>
        </div>
        <div class="list-special">
            {% for article in specialArticles %}
            <article class="news-two-large">
                {{ article | articleImageLink | raw }}
                <h3>{{ article | articleLink(47) | raw }}</h3>
                <div class="meta-post">
                    {{ article.author | authorLink | raw }}
                    <em></em>
                    <span>{{  article.dateCreation }}</span>
                </div>
                <p>{{ article.content  | maxLen(200) | raw  }}</p>
            </article>
            {% endfor %}

        </div>
    </div>
</div>