{% extends "layout.html.twig" %}

{% set active = 'editArticle' %}
{% block page_title 'Edit an article' %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('lib/dropify/css/dropify.min.css') }}" rel="stylesheet"/>

{% endblock %}


{% block js %}
    {{ parent() }}
    <script src="//cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>

    <script src="{{ asset('lib/dropify/js/dropify.min.js') }}"></script>
    <script>
        CKEDITOR.replace( 'article_content' );

        $('.dropify').dropify({
            messages: {
                'default': 'Drag and drop a file here or click',
                'replace': 'Drag and drop or click to replace',
                'remove': 'Remove',
                'error': 'Sorry, an error occured, please retry',
                'fileSize': 'The file size is too big ({ { value } } max).',
                'imageFormat': 'The image format is not allowed ({ { value } } only).'
            }
        });
    </script>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-xs-10 col-xs-offset-1">
            <h3>Edit an article</h3>

            {#% form_theme form 'bootstrap_4_layout.html.twig' %#}

            {#% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %#}

            {#% form_theme form 'foundation_5_layout.html.twig' %#}

            {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

            {# Flash bags #}
            {% include 'components/_flashbags.html.twig' %}

            {{ form(form) }}

            {# Display the Form #}
            {#{ form(form) }#}
            {# SAME AS#}
            {#{ form_start(form) }#}
            {#{ form_widget(form) }#}
            {#{ form_end(form) }#}

        </div>

    </div>

{% endblock %}