{# templates/emails/registration.html.twig #}
<h3>Password recovery</h3>

<p>Hi {{ data.lastname }} {{ data.firstname }}! It seems you forgot your password.</p>

{# example, assuming you have a route named "login" #}
<p>Don't worry we are here to help you, go to: <a href="{{ url('recover_validation') }}?email={{ data.email }}&token={{ data.token }}">Password recovery</a>.</p>

<p>Thanks!</p>

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo.png')) }}">