{# templates/emails/registration.html.twig #}
<h3>Gratz You did it! You registered!</h3>

<p>Hi {{ data.lastname }} {{ data.firstname }}! You're successfully registered.</p>

{# example, assuming you have a route named "login" #}
<p>To validate your account, go to: <a href="{{ url('register_validation') }}?email={{ data.email }}&token={{ data.token }}">Account validation</a>.</p>

<p>Thanks!</p>

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo.png')) }}">